h1= name
h3 #{category.name} 
  -if (subcategory.name)
    | - #{subcategory.name}
img(alt=name, src="/images/#{files[0]}", class='main')
.description= description

-if (files)
  each file in files
    - if ()


